@font-face {
  font-family: 'iconfont';  /* Project id 3392603 */
  src: url('//at.alicdn.com/t/font_3392603_x9m1z6gtpui.woff2?t=1653099604869') format('woff2'),
       url('//at.alicdn.com/t/font_3392603_x9m1z6gtpui.woff?t=1653099604869') format('woff'),
       url('//at.alicdn.com/t/font_3392603_x9m1z6gtpui.ttf?t=1653099604869') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zanshang:before {
  content: "\e61b";
}

.icon-lianxikefu:before {
  content: "\e624";
}

.icon-yijianfankui1:before {
  content: "\e8a1";
}

.icon-fasong:before {
  content: "\e601";
}

.icon-shouye:before {
  content: "\e602";
}

.icon-tuwenxiangqing:before {
  content: "\e603";
}

.icon-shouji:before {
  content: "\e604";
}

.icon-shipintianchong:before {
  content: "\e690";
}

.icon-31yiwen:before {
  content: "\e605";
}

.icon-kongwujiaoxing:before {
  content: "\e62d";
}

.icon-xinxi:before {
  content: "\e763";
}

.icon-lajixiang:before {
  content: "\e645";
}

.icon-shezhi:before {
  content: "\e68f";
}

.icon-duoren2:before {
  content: "\e71e";
}

.icon-guanyuwomen:before {
  content: "\e61f";
}

.icon-shouhou:before {
  content: "\e65c";
}

.icon-menzhenguahao:before {
  content: "\e60c";
}

.icon-ziyuan:before {
  content: "\e658";
}

.icon-sousuo:before {
  content: "\e8ba";
}

.icon-shalou:before {
  content: "\e62e";
}

.icon-yijianfankui:before {
  content: "\e61c";
}

.icon-xiaoxi-xiaoxi:before {
  content: "\e60f";
}

.icon-pingjia:before {
  content: "\e641";
}

.icon-wujiaoxing-:before {
  content: "\e647";
}

.icon-daizhifudingdan:before {
  content: "\e659";
}

.icon-wodexiao:before {
  content: "\e941";
}

.icon-dianzan:before {
  content: "\ec7f";
}

.icon-jieshao:before {
  content: "\e72f";
}

.icon-ziyuanxhdpi:before {
  content: "\e62f";
}

.icon-laba:before {
  content: "\e60d";
}

.icon-zhinan:before {
  content: "\e669";
}

.icon-dingwei:before {
  content: "\e8ae";
}

.icon-wenda:before {
  content: "\e8c6";
}

.icon-xiangji:before {
  content: "\e8c7";
}

.icon-shuben:before {
  content: "\e6f5";
}

.icon-xinxiguanli:before {
  content: "\e615";
}

.icon-envelope-full:before {
  content: "\e982";
}

.icon-wenzhen:before {
  content: "\e6a9";
}

.icon-line-mailunreadyoujianweidu:before {
  content: "\e697";
}

.icon-icon-test:before {
  content: "\e661";
}

.icon-icon-test1:before {
  content: "\e664";
}

.icon-icon-test2:before {
  content: "\e667";
}

.icon-icon-test3:before {
  content: "\e668";
}

.icon-user__easyico:before {
  content: "\e600";
}

.icon-jiezhen:before {
  content: "\e728";
}

.icon-a-shielddunpaifanghu:before {
  content: "\e729";
}

.icon-pinglun:before {
  content: "\e622";
}

