.sortContent {
	position: relative;
	height: 60rpx;
}

.sortCondition {
	display: flex;
	align-items: center;
	padding: 20rpx 0;
	/* justify-content: space-evenly; */
	height: 100rpx;
	box-sizing: border-box;
}
.conditionList{
	flex: 1;
	display: flex;
	justify-content: center;
}

.listParent {
	display: flex;
	align-items: center;
	/* margin-left: 28rpx; */
	justify-content: center;
	/* width: 180rpx; */
	position: relative;

}
.listParent .isovertext{
	width: 124rpx;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	text-align: center;
}

.conditionList .iconfont {
	width: 0;
	transform: scale3d(1.5, 1.5, 1.5);
}

.condition-panel {
	/* padding: 20rpx 60rpx; */
	height: 60%;
	position: absolute;
	left: 0;
	right: 0;
	overflow: auto;
	background-color: #FFFFFF;
}

.panelMask {
	position: absolute;
	left: 0;
	right: 0;
	top: 100rpx;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
}

.ranking {
	padding: 0 60rpx;
}

.panelList {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20rpx 0;

}

.stopNumber {
	color: #999999;
}

.nearby {
	display: flex;
	align-items: center;
	flex-direction: column;
	position: relative;
	height: 100%;
}

.childTab,
.tabList,
.contentList {
	display: flex;
	align-items: flex-start;
	width: 100%;
}

.tabtopic {
	width: 300rpx;
	padding: 20rpx 60rpx;
	box-sizing: border-box;
	color: #101010;
	/* flex: 0.3; */
}

.tabtopicActive {
	color: #007AFF;
	background-color: rgba(0, 0, 0, 0.05);
}

.specific {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	left: 180rpx;
	background-color: rgba(0, 0, 0, 0.05);
	overflow: scroll;
}

.specificActive {
	color: #007AFF !important;
}

.contentopic {
	padding: 20rpx 0;
	color: #101010;
	padding-left: 40rpx;
	width: 180rpx;
	box-sizing: border-box;
}

.contentopicdefault {
	padding: 20rpx 0;
	color: #101010;
	padding-left: 40rpx;
	width: auto;
	box-sizing: border-box;
}

.contentActive {
	color: #007AFF;
	width: auto;

}

.contentopicActive {
	color: #007AFF;
	background-color: rgba(0, 0, 0, 0.05);
}

.contentopicActive,
.tabtopicActive {
	position: relative;
}

.contentopicActive::before,
.tabtopicActive::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 6rpx;
	background-color: #007AFF;
}

.childContent {
	flex: 1;
	position: absolute;
	right: 0;
	top: 0;
	left: 300rpx;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.05);
	overflow: scroll;
}

.specificList view {
	padding: 20rpx 0;
	color: #101010;
	padding-left: 40rpx;
	box-sizing: border-box;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.delicious,.recommendation{
	color: #007AFF;
}
.screen {
	padding: 20rpx 60rpx;
}

.screenContent {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
}

.screentext {
	width: 160rpx;
	height: 60rpx;
	border-radius: 8rpx;
	border: 1px solid #999999;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20rpx;
	color: #101010;
}

.colorChange {
	color: #007AFF;
	background-color: #DEE7FF;
	position: relative;
	overflow: hidden;
	border: 1px solid #007AFF;
}

.colorChange::before {
	content: '';
	position: absolute;
	width: 60rpx;
	height: 60rpx;
	bottom: -30rpx;
	right: -30rpx;
	transform: rotate(45deg);
	background: #007AFF;
}

.colorChange::after {
	content: '';
	position: absolute;
	width: 17rpx;
	height: 9rpx;
	border: 2rpx solid #fff;
	bottom: 14rpx;
	right: 5rpx;
	border-top: none;
	border-right: none;
	background: transparent;
	transform: rotate(-45deg);
}
.operateBtn{
	position: absolute;
	left: 0;
	bottom: 20rpx;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.operateBtn button{
	width: 200rpx;
	background-color: #007AFF;
	color: #FFFFFF;
}
.operateBtn .reset{
	background-color: #FFFFFF;
	color: #808080;
}
